modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "discord-bot-test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Config"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install discord.js axios @discordjs/rest discord-api-types && node index.js"

[[workflows.workflow]]
name = "discord-bot-test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install discord.js axios @discordjs/rest discord-api-types dotenv && node index.js"

[[workflows.workflow]]
name = "Web Config"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
